<h2>My documents</h2>

<div class="container">
	<div class="col-md-12">
		<%= button_to "Upload document", new_document_path, :class => "btn btn-default", :method => "get" %> <br />
		
		<table class="table table-bordered">
			<tr>
				<th>Name</th>
				<th>File</th>
				<th>Owner</th>
			</tr>
			<% @documents.each do |document| %>
				<tr>
					<td><%= link_to document.title, document %></td>
					<td><%= document.file %></td>
					<td><%= document.user.email %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>